.menu{
    font-weight: bold;
    font-size: 22px;
    background-color: white;
    height: 150px;
    width: 100%;
    background-image: url(../../img/Logo\ Mailin\ Sweets\ -\ Original\ OFF.png);
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 60px;
    border-radius: 10px;
    &:hover{
        color: aqua;
        transition: 0.5s;
    }    
}
.contenido2 {
    margin-bottom: 20px;
    background-color: #c3c8ca;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr );
    padding: 20px;
    grid-gap: 10px;  
    .menu1 {
        border: 1px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        border-radius: 10px;
        justify-content: space-between;
    }
    .img3 {
        background-image: url(../../img/mousse\ de\ chocolate.jpg);
        background-size: cover;
        height: 170px;
        width: 100%;
        align-items: center;
    }
    .img4 {
        background-image: url(../../img/flan\ vegano.jpg);
        background-size: cover;
        height: 170px;
        width: 100%;
    }
    .img5 {
        background-image: url(../../img/cheesecakede\ arandanos.jpg);
        background-size: cover;
        height: 170px;
        width: 100%;
        align-items: center;
    }
    .img6 {
        background-image: url(../../img/hojaldre.jpg);
        background-size: cover;
        height: 170px;
        width: 100%;
    }
    .p3 {
        width: 30%;
        height: 170px;
        width: 100%;
        font-size: 11px;
        text-align: center;             
        padding: 10px;
        color: aqua;
        }
    .p4 {
        width: 30%;
        height: 170px;
        width: 100%;
        font-size: 11px;
        text-align: center; 
        padding: 10px;
        color: aqua;
        }
    .p5 {
        width: 30%;
        height: 170px;
        width: 100%;
        font-size: 11px;
        text-align: center; 
        padding: 10px;
        color: aqua;             
        }
    .p6 {
        width: 30%;
        height: 170px;
        width: 100%;
        font-size: 11px;
        text-align: center; 
        padding: 10px;
        color: aqua;
        }
}

@media only screen and (min-width: 1024px) {

    .menu{
        font-weight: bold;
        font-size: 50px;
        background-color: white;
        height: 150px;
        width: 100%;
        background-image: url(../../img/Logo\ Mailin\ Sweets\ -\ Original\ OFF.png);
        background-size: contain;
        background-position: center;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
        &:hover{
            color: aqua;
            transition: 0.5s;
        }   
    }
    .contenido2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr );
        margin-top: 75px;
        grid-gap: 20px;
        .menu1 {
            border: 1px solid black;
            background-position: center;
            background-size: cover;
            background-color: white;
            border-radius: 10px;
            justify-content: space-between;
        }
        .img3 {
            background-image: url(../../img/mousse\ de\ chocolate.jpg);
            max-width: 75%;
            margin-left: 170px;
            height: 360px;
        }
        .img4 {
            background-image: url(../../img/flan\ vegano.jpg);
            max-width: 75%;
            margin-left: 170px;
            height: 360px;
        }
        .img5 {
            background-image: url(../../img/cheesecakede\ arandanos.jpg);
            max-width: 75%;
            margin-left: 170px;
            height: 360px;
        }
        .img6 {
            background-image: url(../../img/hojaldre.jpg);
            max-width: 75%;
            margin-left: 170px;
            height: 360px;
        }
        .p3 {
            max-width: 75%;
            height: 360px;
            color: aqua;
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            padding: 20px;               
        }
        .p4 {
            max-width: 75%;
            height: 360px;
            color: aqua;
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            padding: 20px;   
        }
        .p5 {
            max-width: 75%;
            height: 360px;
            color: aqua;
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            padding: 20px;               
        }
        .p6 {
            max-width: 75%;
            height: 360px;
            color: aqua;
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            padding: 20px;  
        }
    }
}