.pedidos{
    font-weight: bold;
    font-size: 22px;
    background-color: white;
    height: 150px;
    width: 100%;
    background-image: url(../../img/Logo\ Mailin\ Sweets\ -\ Original\ OFF.png);
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    &:hover{
        color: aqua;
        transition: 0.5s;
    }  
}
.contenido4{
    @extend .flex-center;
    background-color: #007987;
    background-color: #007987;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    .informacionPedido{
        font-size: 18px;
        font-weight: bold;
        color: orange;
        .enviar{
            background-color: orange;
            border-radius: 10px;
        }
}

}

@media only screen and (min-width: 1024px) {

    .pedidos{
        font-weight: bold;
        font-size: 50px;
        background-color: white;
        height: 150px;
        width: 100%;
        background-image: url(../../img/Logo\ Mailin\ Sweets\ -\ Original\ OFF.png);
        background-size: contain;
        background-position: center;
        text-align: center;
        padding: 50px;
        border-radius: 10px;
        &:hover{
            color: aqua;
            transition: 0.5s;
        }    
    }
    .contenido4{
        @extend .flex-center;
        background-color: #007987;
        border: 3px solid black;
        border-radius: 15px;
        padding: 20px;
        .informacionPedido{
            font-size: 22px;
            font-weight: bold;
            color: orange;
            .enviar{
                background-color: orange;
                border-radius: 10px;
            }
    }
    
    }







}